*{
    padding: 0;
    margin: 0;
}
.topbercontainer{
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(149, 149, 181);
    display: flex;
    align-items: center;
    position:sticky;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.topText{
    
    margin-left: 10px;
    position: relative;
    bottom: 8px;
   font-size: 28px;
    margin-left: 12px;
    
    
}
.topTextRight{
    font-size: 20px;
    margin-right: 15px;
}
.container1{
    height: 80px;
    width: 100%;
background-color: gray;
display: flex;
    align-items: center;
    position:sticky;
     justify-content: space-between;
     font-family:Georgia, 'Times New Roman', Times, serif;
}
.contleft{
    margin-left: 10px;
    position: relative;
    bottom: 8px;
  margin-left: 12px;

}
.contight{
    
    margin-right: 15px;
}


table{
    background-color: aqua;
}


/* dsadS */